.headerMain {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.headerLeft {
  width: 50%;
}
.headerLeft h1 {
  font-size: var(--fs30);
  color: var(--txt-black);
  cursor: pointer;
}
.headerRight {
  width: 50%;
  text-align: right;
}
.themeBtn > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}
.themeBtn p {
  text-transform: uppercase;
  font-size: var(--fs14);
  color: var(--txt-grey);
  font-weight: 600;
}
.themeBtn svg {
  margin-left: 10px;
}
